@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.distill-site-nav {
  color: #fff;
  background-color: rgba(60, 199, 191, 0.8);
  font-size: 25px;
  font-weight: 500;
  font-family: 'Comfortaa';
}

.distill-site-nav a:hover {
  color: #6D6D6D;
}

a:hover {
	color: #98DADC;	
}